**/target/**/*.*
**/*.log
**/logs/**/*.*
vf.gf.*
**/build/**/*.*
**/bin/**/*.*
*.log
**/.idea/**/*.*
**/.gradle/**/*.*
**/.class
**/.Rapp.history
**/.settings
**/.cache-main
**/.DS_store
**/.classpath
**/.springBeans
**/server1/**/*.*
**/locator/**/*.*
start-scdf-*.sh
dump.rdb
spring-cloud-dataflow-server-cloudfoundry-1.0.0.RELEASE.jar
spring-cloud-dataflow-shell-1.0.0.RELEASE.jar
